@font-face {
    font-family: "Roboto-Regular";
    src: url(/src/resources/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(/src/resources/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(/src/resources/fonts/Roboto-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
    font-family: "Roboto-Regular";
}